.account-manager {
    background-color: #fff;
    padding: 20px;
  }
  .btn-password {
    background-color: #ffc107;
    color: rgb(255, 255, 255);
    /* margin-top: 4px; */
  }
  
  .account-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 250px;
  }
  .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-add {
    background-color: #28a745;
    color: white;
  }
  .btn-edit {
    background-color: #007bff;
    color: white;
  }
  .btn-delete {
    background-color: #dc3545;
    color: white;
  }
  .account-table {
    width: 100%;
    border-collapse: collapse;
  }
  .account-table th, .account-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .modal {
    display: block !important;
    background-color: white !important;
    color: black !important;
    width: 400px !important;
    height: auto;
    padding: 20px !important;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 3 !important;
    position: relative;
  }
  .modal input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .error {
    color: red;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .modal-actions {
    text-align: right;
    margin-top: 10px;
  }
  

  /* .pagination {
    margin-top: 15px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 3px;
    padding: 5px 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
  }
  
  .pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  } */
  .pagination {
    display: flex;
    justify-content: end;
    margin-top: 16px;
    gap: 8px;
  }
  .pagination button {
    padding: 6px 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
  }
  .pagination button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .alert-bar {
    background-color: #28a745; /* màu xanh thành công */
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    animation: fadeOut 4s forwards;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
  