body, ul, li {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}
.order-sidemenu_user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.order-sidemenu_user {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.order-sidemenu_user-name {
    padding-left: 12px;
}

.order-sidemenu_user-name p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.order-sidemenu {
    max-width: 270px;
    width: 100%;
    padding: 32px;
}

.block-border {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0;
}

.order-sidemenu_menu {
    border-top: 1px solid #e7e8e9;
}

.order-sidemenu_menu ul li {
    margin-top: 32px;
    list-style: none;
}

.order-sidemenu_menu li.active a {
    color: #221f20;
}

.order-sidemenu_menu li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
}


.order-block__title {
    display: flex;
    align-items: center;
}

.order-block__title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #221f20;
    display: flex;
    align-items: center;
}

.order-block__title > .form-group, .order-block__title > .order__status, .order-block__title > .btn {
    margin-left: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.order-block__title > .form-group .form-control {
    width: 240px;
}

select.form-control {
    appearance: none;
    /* background-image: url(/images/assets/arrow_down.png); */
    background-size: 16px;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 0px 16px;
}

.form-control {
    width: 100%;
    height: 48px;
    border: 1px solid #e7e8e9;
    background: #ffffff;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 16px;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

.rounded {
    border-radius: .25rem !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


/* content */
.order-block__table {
    border-top: 1px solid #f7f8f9;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.order-block__table th:first-child, .order-block__table td:first-child {
    padding-left: 0;
    width: 140px;
}

.order-block__table th, .order-block__table td {
    border-top: 1px solid #f7f8f9;
    border-bottom: 1px solid #f7f8f9;
    height: 55px;
    font-size: 12px;
    line-height: 16px;
    color: #6c6d70;
    vertical-align: top;
    padding-top: 21px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.order-block__table td:not(.order-block__table td:nth-last-child(1)) {
    white-space: wrap;
}

.order-block__table td:first-child {
    text-decoration: underline;
}

.order-block__table th:first-child, .order-block__table td:first-child {
    padding-left: 0;
    width: 140px;
}

.order-block__table td {
    font-size: 14px;
    line-height: 16px;
    color: #3e3e3f;
}

.order-block__table th, .order-block__table td {
    border-top: 1px solid #f7f8f9;
    border-bottom: 1px solid #f7f8f9;
    height: 55px;
    font-size: 12px;
    line-height: 16px;
    color: #6c6d70;
    vertical-align: top;
    padding-top: 21px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.order-block__table td:last-child {
    color: #221f20;
    font-weight: 600;
    padding-left: 0;
    min-width: 105px;
}

.order-block__table th:last-child, .order-block__table td:last-child {
    text-align: right;
    padding-right: 0;
}

.order-block__table td {
    font-size: 14px;
    line-height: 16px;
    color: #3e3e3f;
}

a {
    color: #373737;
}

/* Paging */

.product-rating__list-pagination {
    margin-top: 32px;
}

.list-inline-pagination {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.list-inline-pagination li:first-child {
    margin-right: 17px;
}

.list-inline-pagination li {
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 16px 0px;
    height: 32px;
    font-size: 12px;
    color: #6C6D70;
    text-align: center;
    line-height: 30px;
    margin-right: 12px;
}

ul li {
    list-style: none;
}

.list-inline-pagination a:hover {
    color: #F7F8F9;
}

.list-inline-pagination a.current {
    background: #221F20;
    color: #F7F8F9;
    border: 1px solid #E7E8E9;
    border-radius: 8px 0px;
}

.list-inline-pagination li a {
    display: block;
    min-width: 32px;
}