body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 90px; 
}

.site-header .container {
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: relative;
}

.submit{
    border: none;
    background: none;
}

#search_quick{
    border: none;
}

.search-form{
    border: 1px solid #bebbbb;
    padding: 5px;
    border-radius: 4px;
    margin-right: 20px;
}

.right-header{
    display: flex;
    align-items: center

}

.header-actions > *{
    display: inline-block;
    vertical-align: middle;

}

.header-actions .item{
    margin-right: 20px;
    display: inline-block;
}

.main-menu {
    display: flex;
}

.main-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 15px;
}

.item.cart .count {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    padding-left: 4px;
    padding-bottom: 1px;
}

/* Cố định header */
#header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo header luôn nằm trên các phần tử khác */
}