<header id="header" class="site-header">
  <div class="container d-flex">
    <nav class="main-menu">
      <div class="item-main-menu">
        <a href="javascrip:void(0)" class="pe-0">Nữ</a>
        <ul class="sub-menu">
          <div class="cat-sub-menu">
            <div>
              <a href="#!">SẢN PHẨM MỚI</a>
            </div>
            <div>
              <a href="#!" style="color: #ff0000;">Săn deal giảm tới 70%</a>
            </div>
          </div>
          <div class="list-submenu d-flex">
            <div class="item-list-submenu">
              <h3>
                <a href="#!">ÁO KHOÁC</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Áo vest/blazer</a>
                </li>
                <li>
                  <a href="#!">Áo dạ/măng tô</a>
                </li>
              </ul>
            </div>

            <div class="item-list-submenu">
              <h3>
                <a href="#!">QUẦN & JUMPSUIT</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Quần dài</a>
                </li>
                <li>
                  <a href="#!">Quần Jeans</a>
                </li>
                <li>
                  <a href="#!">Quần short</a>
                </li>
                <li>
                  <a href="#!">Jumpsuit</a>
                </li>
              </ul>
            </div>

            <div class="item-list-submenu">
              <h3>
                <a href="#!">ÁO</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Áo sơ mi</a>
                </li>
                <li>
                  <a href="#!">Áo croptop</a>
                </li>
                <li>
                  <a href="#!">Áo thun</a>
                </li>
              </ul>
            </div>

            <div class="item-list-submenu">
              <h3>
                <a href="#!">CHÂN VÁY</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Chân váy bút chì</a>
                </li>
                <li>
                  <a href="#!">Chân váy chữ A</a>
                </li>
                <li>
                  <a href="#!">Chân váy jeans</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>

      <div class="item-main-menu">
        <a href="javascrip:void(0)" class="pe-0">Nam</a>
        <ul class="sub-menu">
          <div class="cat-sub-menu">
            <div>
              <a href="#!">SẢN PHẨM MỚI</a>
            </div>
            <div>
              <a href="#!" style="color: #ff0000;">Săn deal giảm tới 70%</a>
            </div>
          </div>
          <div class="list-submenu d-flex">
            <div class="item-list-submenu">
              <h3>
                <a href="#!">ÁO</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Áo thun</a>
                </li>
                <li>
                  <a href="#!">Áo sơ mi</a>
                </li>
                <li>
                  <a href="#!">Áo polo</a>
                </li>
                <li>
                  <a href="#!">Áo len</a>
                </li>
                <li>
                  <a href="#!">Áo khoác</a>
                </li>
              </ul>
            </div>

            <div class="item-list-submenu">
              <h3>
                <a href="#!">QUẦN NAM</a>
              </h3>
              <ul>
                <li>
                  <a href="#!">Quần dài</a>
                </li>
                <li>
                  <a href="#!">Quần Jeans</a>
                </li>
                <li>
                  <a href="#!">Quần short</a>
                </li>
                <li>
                  <a href="#!">Quần Kaki</a>
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
      <div class="item-main-menu">
        <a href="javascrip:void(0)" class="text-danger">Bạn muốn trở thành ...</a>
        <ul class="sub-menu">
          <div class="cat-sub-menu">
            <!-- <div>
              <a href="#!">SẢN PHẨM MỚI</a>
            </div>
            <div>
              <a href="#!" style="color: #ff0000;">Săn deal giảm tới 70%</a>
            </div> -->
          </div>
          <div class="list-submenu d-flex">
            <div class="item-list-submenu">
              <h3>
                <!-- <a href="#!">NỮ</a> -->
              </h3>
              <ul>
                <li>
                  <a href="#!">Công chúa</a>
                </li>
                <li>
                  <a href="#!">Người lịch sự</a>
                </li>
                <li>
                  <a href="#!">Người thư giãn</a>
                </li>
                <li>
                  <a href="#!">Nhân viên xuất sắc</a>
                </li>
                <li>
                  <a href="#!">Chủ tịch</a>
                </li>
                <li>
                  <a href="#!">Người bình thường</a>
                </li>
              </ul>
            </div>

            <div class="item-list-submenu">
              <h3>
                <!-- <a href="#!">NAM</a> -->
              </h3>
              <ul>
                <li>
                  <a href="#!">Hoàng tử</a>
                </li>
                <li>
                  <a href="#!">Chàng trai thư giãn</a>
                </li>
                <li>
                  <a href="#!">Tổng tài</a>
                </li>
                <li>
                  <a href="#!">Người thành công</a>
                </li>
              </ul>
            </div>

            
          </div>
        </ul>
      </div>
      <!-- <div class="item-main-menu">
        <a href="javascrip:void(0)" class="ps-0">Thời trang</a>
      </div> -->
    </nav>
    <div class="logo">
      <a href="/homepage">
        <div class="logo1">
          <span class="letter letter-I">I</span>
          <span class="letter letter-A">A</span>
          <span class="letter letter-M">M</span>
        </div>
      </a>
    </div>
    <div class="right-header">
      <form class="search-form" name="frm_search">
        <button
          type="submit"
          class="submit"
          title="Search"
          name="btn_search_menu"
        >
          <i class="bi bi-search"></i>
        </button>
        <input
          id="search_quick"
          type="text"
          name="q"
          placeholder="tìm kiếm sản phẩm"
          autocomplete="off"
          minlength="1"
        />
      </form>
      <div class="header-actions">
        <div class="item info">
          <a href="#!" aria-label="Thông tin" class="text-black">
            <i class="bi bi-person text-black"></i>
          </a>
          <ul class="dropdown-menu1">
            <li>
              <a class="#!"><i class="bi bi-person"></i>&nbsp;Thông tin cá nhân</a>
            </li>
            <li>
              <a class="#!"><i class="bi bi-arrow-repeat"></i>&nbsp;Quản lý đơn hàng</a>
            </li>
            <li>
              <a class="#!"><i class="bi bi-heart-fill"></i>&nbsp;Yêu thích</a>
            </li>
            <li>
              <a class="#!"><i class="bi bi-box-arrow-right"></i> &nbsp;Đăng xuất</a>
            </li>
          </ul>
        </div>
        <div class="item cart">
          <a href="javascript:void(0)" aria-label="Giỏ hàng" class="text-black icon" >
            <i class="bi bi-bag" (click)="toggleCart()"></i>
            <span class="count">10</span>
          </a>
          <div [class.open]="isCartOpen" class="sub-action sub-action-cart">
            <div class="top-action">
              <h3>
                Giỏ hàng
                <span class="count">4</span>
              </h3>
              
            </div>
            <div class="main-action">
              <div class="item-product-cart d-flex">
                <div class="thumb-product-cart">
                  <img src="../../assets/images/vay_test.webp" alt="Áo vest Sophia Elegance" class="lazy">
                </div>
                <div class="info-product-cart">
                  <h3>
                    <a href="#!">Áo vest Sophia Elegance</a>
                  </h3>
                  <div class="info-properties d-flex">
                    <p class="properties-color">
                      Màu sắc: <strong>Đen</strong>
                    </p>
                    <p>
                      Size: <strong style="text-transform: uppercase;">L</strong>
                    </p>
                  </div>
                  <div class="info-price-mini d-flex">
                    <div class="info-price-quantity d-flex">
                      <div class="price-quantity-minus price-quantity">
                        <i class="bi bi-dash"></i>
                      </div>

                      <input type="number" value="1" title="rise">

                      <div class="price-quantity-plus price-quantity">
                        <i class="bi bi-plus"></i>
                      </div>
                    </div>
                    <div class="price-cart-mini">
                      <ins>
                        <span>845.000đ</span>
                      </ins>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-action">
              <!-- <input type="hidden" name="total_price_not_format" value="5670000"> -->
              <div class="total-price">
                Tổng cộng: 
                <strong>5.670.000đ</strong>
              </div>
              <div class="box-action">
                <a href="#!" class="action-view-cart">Xem giỏ hàng</a>
              </div>
            </div>
            <div class="action-close" (click)="closeCart()">
              <i class="bi bi-x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<br><br><br><br>
