<div class="container">
    <div class="order-wrapper mt-40 my-account">
        <div class="row">
            <div class="col-lg-4 col-xl-auto">
                <div class="order-sidemenu block-border">
                    <div class="order-sidemenu_user">
                        <div class="order-sidemenu_user-avatar">
                            <img [src]="'/assets/imageProduct/'+ avatar" alt>
                        </div>
                        <div class="order-sidemenu_user-name">
                            <p>{{fullName}}</p>
                        </div>
                    </div>
                    <div class="order-sidemenu_menu">
                        <ul>
                            <li >
                                <a routerLink="/customer/info">
                                    <i ></i>&nbsp;Thông tin cá nhân
                                </a>
                            </li>
                            <li>
                                <a routerLink="/customer/order_manage">
                                    <i class="bi bi-arrow-repeat"></i>&nbsp;Quản lý đơn hàng
                                </a>
                            </li>
                            <li class="active">
                                <a routerLink="/customer/favourite_product">
                                    <i class="bi bi-heart"></i>&nbsp;Sản phẩm yêu thích
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#!">
                                    <i class="bi bi-truck"></i>&nbsp;Theo dõi đơn hàng
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl col-product-view-like">
               <div class="order-block__title wallet-address__title">
                    <h3>Sản phẩm yêu thích</h3>
               </div>

               <div class="sub-main-prod" id="products">
                    <div class="list-products list-products-cat d-flex">
                        <div class="item-cat-product" *ngFor="let item of favouriteProducts">
                            <div class="product">
                                <!-- *ngIf="item.numberDiscount > 0" -->
                                <span class="badget badget_03" *ngIf="item.activeDiscount">
                                    -{{item.numberDiscount}} <span>%</span>
                                </span>
                                <div class="thumb-product">
                                    <a [routerLink]="['/customer/detailProduct', item.idProduct]">
                                        <img [src]="'/assets/imageProduct/' + item.image1" alt="Áo thun trơn ICY Summer" class="lazy">
                                        <img [src]="'/assets/imageProduct/' + item.image2" alt="Áo thun trơn ICY Summer" class="hover-img lazy">
                                    </a>
                                </div>
                                <div class="info-product">
                                    <div class="name-product">
                                        <h3 class="title-product">
                                            <a [routerLink]="['/customer/detailProduct', item.idProduct]">{{item.nameProduct}}</a>
                                        </h3>
                                        <div class="favourite" (click)="toggleFavourite(item.idProduct)" style="cursor: pointer;">
                                            <i [ngClass]="item.isActive === 1 ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                                        </div>
                                    </div>
                                    <div class="price-product">
                                        <ins>
                                            <span>{{item.salePrice | number}}đ</span>
                                        </ins>
                                        <del style="margin-left: 4px;" *ngIf="item.numberDiscount > 0">
                                            <span>{{item.originalPrice | number}}đ</span>
                                        </del>
                                    </div>
                                </div>
                                <!-- (click)="toggleSizeList()" -->
                                <div class="add-to-cart" >
                                    <a [routerLink]="['/customer/detailProduct', item.idProduct]">
                                        <i class="bi bi-bag"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

  