body, ul, li {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}
.order-sidemenu_user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.order-sidemenu_user {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.order-sidemenu_user-name {
    padding-left: 12px;
}

.order-sidemenu_user-name p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.order-sidemenu {
    max-width: 270px;
    width: 100%;
    padding: 32px;
}

.block-border {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0;
}

.order-sidemenu_menu {
    border-top: 1px solid #e7e8e9;
}

.order-sidemenu_menu ul li {
    margin-top: 32px;
    list-style: none;
}

.order-sidemenu_menu li.active a {
    color: #221f20;
}

.order-sidemenu_menu li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
}

/* Tieu de */
.col-product-view-like .order-block__title {
    margin-bottom: 16px;
}

.order-block__title {
    display: flex;
    align-items: center;
}

.wallet-address__title {
    padding-bottom: 12px;
    border-bottom: 1px solid #f7f8f9;
}

/* CONTENT */
.list-products-cat .item-cat-product {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.list-products-cat, .list-products-lb, .list-product-combo, .why-choose, .value-number .list-promote {
    margin: 0 -15px;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex !important
;
}

.sub-main-prod {
    margin-bottom: 0;
}

.list-products-cat .item-cat-product {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.list-products .product {
    position: relative;
}

.badget.badget_03 {
    background: url(../../../assets/images/badget-03.png) no-repeat center / cover;
}

.badget {
    z-index: 999;
    position: absolute;
    background: url(../../../assets/images/badget-03.png) no-repeat center / cover;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 13px 12px 13px 8px;
    top: 8px;
    right: 9px;
}

.thumb-product {
    margin-bottom: 17px;
    position: relative;
}

a {
    text-decoration: none;
    color: #373737;
}

.thumb-product a img {
    display: block;
    width: 100%;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.thumb-product .hover-img, .e-magazine-new-item .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    height: 100%;
}

.thumb-product a img {
    display: block;
    width: 100%;
}

.thumb-product:hover .hover-img {
    opacity: 1;
    visibility: visible;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.name-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bi-heart{
    cursor: pointer;
}

.price-product ins {
    color: #3E3E3F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.price-product del {
    color: #A8A9AD;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.add-to-cart a {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #221F20;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.list-size {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.list-size.open {
    opacity: 1;
    visibility: visible;
    bottom: 35px;
    background-color: #f5f6f8;
}

.list-size {
    margin-right: 2px;
    width: 80%;
    border-radius: 16px 0px;
}

.list-size label {
    padding: 10px 10px;
    font-weight: 600;
}

.list-size .list-color p {
    display: block;
    padding: 0px 10px;
    cursor: pointer;
}

.list-size .size p {
    display: block;
    padding: 0px 10px;
    cursor: pointer;
}