<div class="alert-bar" *ngIf="alertMessage">
  {{ alertMessage }}
</div>
<div class="container">
    <!-- method="post" action enctype="application/x-www-form-urlencoded" -->
    <form class="frm_cart" id="frm_cart">
        <div class="cartPage">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-list">
                        <h2 class="cart-title">
                            Giỏ hàng của bạn có
                            <b>
                                <span class="cart-total"> {{totalQuantity}}</span> Sản Phẩm
                            </b>
                        </h2>
                        <table class="cart-table table">
                            <thead>
                                <tr>
                                    <th>SẢN PHẨM</th>
                                    <th>CHIẾT KHẤU</th>
                                    <th>SỐ LƯỢNG</th>
                                    <th>TỔNG TIỀN</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartItems">
                                    <td>
                                        <div class="cart_product_item">
                                            <div class="cart_product_item_img">
                                                <a href="#!">
                                                    <!-- https://pubcdn.ivymoda.com/files/product/thumab/400/2025/03/28/97561bebaf6664520be747cb36f427c1.webp -->
                                                    <img title="123" [src]="'/assets/imageProduct/' + item.image" [alt]="item.productName">
                                                </a>
                                            </div>
                                            <div class="cart_product_item_content">
                                                <a href="#!" style="text-decoration: none;">
                                                    <h3 class="cart_product-item_title" style="font-size: 20px; width: 220px;">{{item.productName}}</h3>
                                                </a>
                                                <div class="cart_product_item_properties">
                                                    <p>Màu sắc: <span>{{item.color}}</span></p>
                                                    <p style="padding-left: 15px;">Size: <span>{{item.size}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart-sale-price">
                                        <p style="color:#6c6d70" *ngIf="item.numberDiscount > 0">-{{item.discountAmount | number:'1.0-0'}}đ</p>
                                        <!-- *ngIf="item.numberDiscount > 0" -->
                                        <p class="cart-sale-item" style="color: red; font-weight: bold;" *ngIf="item.activeDiscount">(-{{item.numberDiscount}}%)</p>
                                    </td>
                                    <td class="cot4">
                                        <div class="product-detail_quantity-input">
                                            <input type="number" 
                                                [(ngModel)]="item.quantity" 
                                                [value]="item.quantity" 
                                                name="quantity-{{ item.productCode }}" 
                                                min="0" title="tăng giảm" class="inputNumber"
                                                (change)="updateQuantity(item)"
                                                [ngModelOptions]="{standalone: true}"
                                            >
                                            <!-- (click)="item.quantity > 1 && item.quantity--" -->
                                            <div class="product-detail_quantity-decrease" (click)="decrease(item)"> - </div>
                                            <!-- (click)="item.quantity++" -->
                                            <div class="product-detail_quantity-increase" (click)="increase(item)"> + </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cart_product_item_price">
                                            {{item.total | number}}đ
                                        </div>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" title="trash" (click)="removeItem(item)">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="col-lg-4 cart-page_col-sumary">
                    <div class="cart-sumary" id="cart-page-sumary">
                        <div class="cart-summary_overview">
                            <h3>Tổng tiền giỏ hàng</h3>
                            <div class="cart-sumary_overview-item">
                                <p>Tổng sản phẩm</p>
                                <div class="total-product">{{totalItems}}</div>
                            </div>
                            <div class="cart-sumary_overview-item">
                                <p>Tổng tiền hàng</p>
                                <div class="total-not-discount">{{TongTienHang | number}}đ</div>
                            </div>
                            <div class="cart-sumary_overview-item">
                                <p>Thành tiền</p>
                                <p>
                                    <b class="order-price-total">{{totalCost | number}}đ</b>
                                </p>
                            </div>
                            <div class="cart-sumary_overview-item"></div>
                        </div>
                        <div class="cart-sumary_note">
                            <div class="left-inner-note">
                                <i class="bi bi-exclamation-circle"></i>
                            </div>
                            <div class="content-inner-note">
                                Sản phẩm nằm trong chương trình đồng giá, giảm giá trên 50% không hỗ trợ đổi trả
                            </div>
                        </div>
                        <div class="info-customer">
                            <h3>Thông tin giao hàng</h3>
                            <div class="info-customer-item info--name">
                                <label for="name">Họ và tên: </label>
                                <input type="text" id="name" name="name" [(ngModel)] = "fullname" placeholder="Nguyễn Văn A" style="margin-left: 60px; width: 200px;" required>
                            </div>
                            <div class="info-customer-item info--name">
                                <label for="phone">Số điện thoại: </label>
                                <input type="tel" id="phone" name="phone" [(ngModel)]="phone" placeholder="Số điện thoại" style="margin-left: 36px; width: 200px;" required>
                            </div>
                            <div class="info-customer-item info--name">
                                <label for="address">Địa chỉ giao hàng: </label>
                                <input type="text" id="address" name="address" [(ngModel)]="address" style="margin-left:8px; width: 200px;" placeholder="Số nhà, đường, phường, quận, tỉnh/thành phố" required>
                            </div>
                            <div class="info-methodpay info--name">
                                <label for="method">Phương thức thanh toán: </label>
                                <select id="method" name="method" [(ngModel)]="paymentMethod" required>
                                    <option value="1">Thanh toán khi nhận hàng (COD)</option>
                                    <option value="2">Chuyển khoản ngân hàng VNPay</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cart-sumary-button">
                        <a href="javascript:void(0)" class="btn btn--large" (click)="checkout()">THANH TOÁN</a>
                        <p *ngIf="showCheckoutWarning" style="color: red; margin-top: 5px;">Vui lòng nhập đầy đủ thông tin giao hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>