.product-detail {
    padding: 20px 0;
    background: #fff;
  }
  
  .image-wrapper {
    display: flex;
  }
  
  .thumb-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    justify-content: center;
  }
  
  .thumb-images img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.3s ease;
  }
  
  .thumb-images img:hover,
  .thumb-images img.active {
    border-color: #000000;
  }
  
  .main-image img {
    width: 498px;
    /* max-height: 500px; */
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 204, 119, 0.1);
  }

  @media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1599px) {
    .product-detail__information {
        padding-left: 90px;
    }
}

.product-detail__information h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}

.product-detail__information .product-detail__sub-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color: #6c6d70;
}

.product-detail__information .product-detail__sub-info p {
    margin-bottom: 0;
}

.product-detail__information .product-detail__sub-info .product-detail__rating {
    margin-left: 30px;
}

.product-detail__rating {
    display: flex;
    align-items: center;
}

.product-detail__rating-wrapper {
    flex: 0 0 90px;
    max-width: 90px;
    height: 18px;
    position: relative;
}

.product-detail__rating__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(../../../assets/images/rating_rating_on_detail.svg);
    background-position: left;
    background-repeat: repeat-x;
}

.product-detail__rating__bar {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(../../../assets/images/rating_gold_ondetail.svg);
    background-position: left;
    background-repeat: repeat-x;
}

.product-detail__rating span {
    margin-left: 14px;
}

.product-detail__information .product-detail__price, .product-detail__information .product-detail__flash-sale, .product-detail__information .product-detail__quantity, .product-detail__information .product-detail__actions {
    margin-top: 24px;
}

.product-detail__price b {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
}

.product-detail__price del {
    font-size: 16px;
    line-height: 16px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #a8a9ad;
    margin-left: 4px;
}

.product-detail__price {
    position: relative;
    display: inline-block;
}

.product-detail__price .product-detail__price-sale {
    background-color: #dc633a;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #f7f8f9;
    position: absolute;
    left: calc(100% + 10px);
    top: -20%;
    padding: 4px 8px;
    min-width: 55px;
}

.product-detail__information .product-detail__color, .product-detail__information .product-detail__size {
    margin-top: 24px;
}

.product-detail__information .product-detail__color > p, .product-detail__information .product-detail__size > p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #221f20;
    margin-bottom: 0;
}

.product-detail__information .product-detail__color .product-detail__color__input, .product-detail__information .product-detail__color .product-detail__size__input, .product-detail__information .product-detail__size .product-detail__color__input, .product-detail__information .product-detail__size .product-detail__size__input {
    margin-top: 12px;
}

.product-detail__color .product-detail__color__input {
    display: flex;
    align-items: center;
}

.product-detail__color label {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.product-detail__size a {
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

a {
    text-decoration: none;
}

.product-detail__size .product-detail__size__input {
    display: flex;
}

a {
    color: #373737;
}

.product-detail__size label {
    display: inline-flex;
    cursor: pointer;
}

.product-detail__color input[type=radio], .product-detail__size input[type=radio] {
    display: none;
}

.product-detail__size input[type=radio] {
    margin: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.product-detail__size label span {
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.product-detail__size__input label span {
    border-radius: 4px;
    margin-right: 8px;
}

.product-detail__quantity {
    display: flex;
    align-items: center;
}

.product-detail__quantity .product-detail__quantity-input {
    width: 144px;
    position: relative;
    height: 48px;
    margin-left: 16px;
}

.product-detail__quantity .product-detail__quantity-input input {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px 0px;
    padding-left: 20px;
}

input[type=text], input[type=email], input[type=tel], input[type=password], input[type=number], input[type=search], textarea {
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #57585A;
    font-family: 'Montserrat', sans-serif;
}

.product-detail__quantity .product-detail__quantity-input .product-detail__quantity--increase {
    right: 0;
}

.product-detail__quantity .product-detail__quantity-input .product-detail__quantity--increase, .product-detail__quantity .product-detail__quantity-input .product-detail__quantity--decrease {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
    border-radius: 16px 0px;
    background-color: white;
    cursor: pointer;
}

.product-detail__quantity .product-detail__quantity-input .product-detail__quantity--decrease {
    left: 0;
}

.product-detail__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (max-width: 1599px) {
    .product-detail__actions button:not(.btn--wishlist) {
        max-width: 170px;
    }
}

.product-detail__actions button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    /* cursor: pointer; */
    padding: 15px;
    width: 100%;
}

.btn--large {
    /* padding: 12px 24px; */
    border-radius: 16px 0px;
    /* font-size: 16px; */
    /* line-height: 24px; */
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
}

.btn {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.product-detail__actions button.btn--wishlist {
    width: 48px;
}

.btn--large.btn--outline {
    background-color: white;
    border: 1px solid #221f20;
    color: #221f20;
}