<div class="alert-bar" *ngIf="alertMessage">
  {{ alertMessage }}
</div>
<div class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-wrapper d-flex">
                    <!-- Ảnh chính -->
                    <div class="main-image zoom-container"
                    (mousemove)="onMouseMove($event)"
                    (mouseleave)="onMouseLeave()"
                    [style.background-image]="'url(' + mainImage + ')'"
                    [style.background-size]="backgroundSize"
                    [style.background-position]="backgroundPosition"
                    >
                        <img [src]="mainImage" alt="Main Product" class="zoom-hidden-img"/>
                    </div>
                    <!-- Ảnh con (thumbnail) -->
                    <div class="thumb-images me-3">
                        <img
                        *ngFor="let img of imageList"
                        [src]="img"
                        (click)="changeMainImage(img)"
                        [class.active]="mainImage === img"
                        alt="thumb"
                        />
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="product-detail__information">
                    <h1 style="text-transform: uppercase;">{{product?.nameProduct}}</h1>
                    <div class="product-detail__sub-info">
                        <p>
                            CODE: <span>{{product?.code}}</span>
                        </p>
                        <div class="product-detail__rating">
                            {{product?.rating}}
                            <div class="product-detail__rating-wrapper">
                                
                                <div class="product-detail__rating__background"></div>
                                <div class="product-detail__rating__bar" style="width: 100%;"></div>
                            </div>
                            <span>(0 đánh giá)</span>
                        </div>
                    </div>
                    <div class="product-detail__price">
                        <b>{{product?.salePrice | number}}đ</b>
                        <del *ngIf="product.numberDiscount > 0">{{product?.originalPrice | number}}đ</del>
                        <!-- *ngIf="product.numberDiscount > 0" -->
                        <div class="product-detail__price-sale" *ngIf="product.isActive">-{{product?.numberDiscount}} <span>%</span></div>
                    </div>
                    <div class="product-detail__color">
                        <p>Màu sắc: </p>
                        <div class="product-detail__color__input">
                            
                        <label *ngFor="let color of product?.colors" [ngClass]="{'label-active': selectedColor === color}">
                            <input type="radio" name="color" [(ngModel)]="selectedColor" [value]="color" />
                            <span>{{ color }}</span>
                        </label>
                        </div>
                    </div>

                    <!-- SIZE -->
                    <div class="product-detail__size">
                        <p>Kích thước:</p>
                        <div class="product-detail__size__input">
                        <label *ngFor="let size of product?.sizes" [ngClass]="{'label-active': selectedSize === size}">
                            
                            <input type="radio" name="size" [(ngModel)]="selectedSize" [value]="size"/>
                            <span>{{ size }}</span>
                        </label>
                        </div>
                    </div>
                    <p class="text-danger" *ngIf="showWarning" style="color: red; margin-top: 5px; font-size: 14px;">Vui lòng chọn đầy đủ màu và size!</p>

                    <div class="product-detail__quantity">
                        <p style="font-size: 16px; font-weight: 500; line-height: 1.2; vertical-align: baseline; margin-bottom: 0">Số lượng: </p>
                        <div class="product-detail__quantity-input">
                            <input type="number" name="quantity" title="quantity" [(ngModel)]="quantity" min="1"/>
                            <!-- <div class="product-quantity product-detail__quantity--increase ">+</div> -->
                            <!-- <div class="product-quantity product-detail__quantity--decrease">-</div> -->
                        </div>
                    </div>
                    <br>
                    <ng-template #loginButton>
                        <button style="background-color: black; color: white; padding: 10px 16px; border-radius: 16px 0px;" routerLink="/login">Đăng nhập</button>
                    </ng-template>
                    <div class="product-detail_actions" *ngIf="authService.isLoggedIn(); else loginButton">
                        <button class="btn btn--large add-to-cart-detail" (click)="addToCart()" [disabled]="!product">Thêm vào giỏ</button>
                        <!-- &nbsp;
                        <button class="btn btn--large btn--outline btn--wishlist" title="favourite">
                            <i class="bi bi-heart"></i>
                        </button> -->
                    </div>
                    <div class="product-detail-divider"></div>

                    <!-- Chưa làm -->
                    <div class="product-detail__tab">
                        <div class="product-detail__tab-header"></div>
                        <div class="product-detail__tab-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>