<div class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-wrapper d-flex">
                    <!-- Ảnh chính -->
                    <div class="main-image">
                        <img [src]="mainImage" alt="Main Product" />
                    </div>
                    <!-- Ảnh con (thumbnail) -->
                    <div class="thumb-images me-3">
                        <img
                        *ngFor="let img of imageList"
                        [src]="img"
                        (click)="changeMainImage(img)"
                        [class.active]="mainImage === img"
                        alt="thumb"
                        />
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="product-detail__information">
                    <h1 style="text-transform: uppercase;">Áo thun Regular Meta Supima</h1>
                    <div class="product-detail__sub-info">
                        <p>
                            CODE: <span>ABC123</span>
                        </p>
                        <div class="product-detail__rating">
                            <div class="product-detail__rating-wrapper">
                                <div class="product-detail__rating__background"></div>
                                <div class="product-detail__rating__bar" style="width: 100%;"></div>
                            </div>
                            <span>(0 đánh giá)</span>
                        </div>
                    </div>
                    <div class="product-detail__price">
                        <b>375.000đ</b>
                        <del>750.000đ</del>
                        <div class="product-detail__price-sale">-50 <span>%</span></div>
                    </div>
                    <div class="product-detail__color">
                        <p>Màu sắc: Trắng</p>
                        <div class="product-detail__color__input">
                            chưa hiển thị màu
                            <label class="border-color-ccc">
                                <input type="radio" name="color" checked title="white">
                                <span>
                                    <a href="javascript:void(0)"></a>
                                </span>
                            </label>
                            <label class>
                                <input type="radio" name="color" title="black">
                                <span>
                                    <a href="javascript:void(0)"></a>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="product-detail__size">
                        <div class="product-detail__size__input">
                            
                            <label>
                                <input type="radio" name="size" value="S">
                                <span class="text-uppercase">s</span>
                            </label>
                            <label>
                                <input type="radio" name="size" value="M">
                                <span class="text-uppercase">m</span>
                            </label>
                        </div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-pencil"></i>
                            &nbsp; Kiểm tra kích thước của bạn
                        </a>

                        <!-- Chưa làm -->
                        <!-- <div class="table-size-product" style="display: none;">
                            <div class="title-table-szie">BẢNG TƯ VẤN SIZE</div>
                            <div class=""></div>
                        </div> -->
                    </div>
                    <div class="product-detail__quantity">
                        <p style="font-size: 16px; font-weight: 500; line-height: 1.2; vertical-align: baseline; margin-bottom: 0">Số lượng: </p>
                        <div class="product-detail__quantity-input">
                            <input type="number" value="1" name="quantity" title="quantity">
                            <div class="product-quantity product-detail__quantity--increase ">+</div>
                            <div class="product-quantity product-detail__quantity--decrease">-</div>
                        </div>
                    </div>
                    <div class="product-detail_actions">
                        <button class="btn btn--large add-to-cart-detail">Thêm vào giỏ</button>
                        <button class="btn btn--large btn--outline btn--wishlist" title="favourite">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <div class="product-detail-divider"></div>

                    <!-- Chưa làm -->
                    <div class="product-detail__tab">
                        <div class="product-detail__tab-header"></div>
                        <div class="product-detail__tab-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>