<div class="container">
    <div class="order-wrapper mt-40 order-detail">
        <div class="row">
            <div class="col-lg-auto">
                <div class="order-sidemenu block-border">
                    <div class="order-sidemenu__user">
                        <div class="order-sidemenu__user-avatar">
                            <img [src]="'/assets/imageProduct/'+avatar" alt>
                        </div>
                        <div class="order-sidemenu__user-name">
                            <p>{{fullName}}</p>
                        </div>
                    </div>
                    <div class="order-sidemenu__menu">
                        <ul>
                            <li>
                                <a routerLink="/customer/info">
                                    <i class="bi bi-person"></i>&nbsp;Thông tin cá nhân
                                </a>
                            </li>
                            <li class="active">
                                <a routerLink="/customer/order_manage">
                                    <i class="bi bi-arrow-repeat"></i>&nbsp;Quản lý đơn hàng
                                </a>
                            </li>
                            <li>
                                <a routerLink="/customer/favourite_product">
                                    <i class="bi bi-heart"></i>&nbsp;Sản phẩm yêu thích
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-auto col-lg col-account-content">
                <div class="order-block__title">
                    <h2>
                        <span routerLink="/customer/order_manage" style="cursor: pointer;" class="bi bi-chevron-left"></span>
                        CHI TIẾT ĐƠN HÀNG <b>"IAM{{orderDetail?.orderId}}"</b>

                        
                    </h2>
                    
                    <div class="order__status order--cancel">
                        <!-- <span class="bi bi-arrow-repeat" style="margin-right: 5px;"></span>
                        <span [style.color]="getStatusColor(orderDetail?.status)">{{ getStatusText(orderDetail!.status) }}</span> -->
                        <i [class]="getStatusIcon(orderDetail?.status)" [style.color]="getStatusColor(orderDetail?.status)" style="margin-right: 5px;"></i>
                        <span [style.color]="getStatusColor(orderDetail?.status)">
                            {{ getStatusText(orderDetail!.status) }}
                        </span>

                    </div>
                    
                </div>
                <div class="order-block row">
                    <div class="col-xl">
                        <div class="order-block__products checkout-my-cart">
                            <table class="cart__tables">
                                <tbody>
                                    <tr *ngFor="let item of orderDetail?.products">
                                        <td>
                                            <div class="cart__product-item">
                                                <div class="cart__product-item__img" style="cursor: pointer;">
                                                    <a [routerLink]="['/customer/detailProduct', item.productId]">
                                                        <img [src]="'/assets/imageProduct/'+item.image" alt>
                                                    </a>
                                                </div>
                                                <div class="cart__product-item__content">
                                                    <h3 class="cart__product-item__title" style="cursor: pointer;" [routerLink]="['/customer/detailProduct', item.productId]" >{{item.productName}}</h3>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Màu sắc: <span>{{item.color}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Size: <span style="text-transform: uppercase;">{{item.size}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Số lượng: <span>{{item.quantity}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__btn--save">
                                                        <!-- <button class="btn btn--outline btn--large repurchase-product">Mua lại</button> -->
                                                    </div>
                                                </div>
                                                <div class="cart__product-item__price">
                                                    {{item.total | number}}đ
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col-xl-1"></div> -->
                    <div class="col-xl-4">
                        <div class="cart-summary">
                            <div class="cart-summary__overview">
                                <h3>Tóm tắt đơn hàng</h3>
                                <div class="cart-summary__overview__item">
                                    <p>Ngày tạo đơn</p>
                                    <p>
                                        <span class="price">{{orderDetail?.createdAt}}</span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Tạm tính</p>
                                    <p>
                                        <span class="price">{{orderDetail?.totalCost | number}} <sup>đ</sup></span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Phí vận chuyển</p>
                                    <p>
                                        <span class="price">0 <sup>đ</sup></span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Tổng tiền</p>
                                    <p>
                                        <b>{{orderDetail?.totalCost | number}} <sup>đ</sup></b>
                                    </p>
                                </div>
                            </div>
                            <div class="cart-summary__payment">
                                <h4>Hình thức thanh toán</h4>
                                <div class="cart-summary__overview__item">
                                    <p>{{orderDetail?.paymentMethod}}</p>
                                    <div class="order_status">
                                        <span class="icon-ic_radio_active">
                                            <div class="path1"></div>
                                            <div class="path2"></div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-summary__address">
                                <h4>Địa chỉ</h4>
                                <div class="cart-summary__overview__item">
                                    <p>{{orderDetail?.fullname}}</p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>{{orderDetail?.address}}</p>
                                    <br>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Điện thoại: {{orderDetail?.phone}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <button *ngIf="orderDetail?.status === 1" 
                            (click)="cancelOrder()"
                            style="border-radius: 16px 0px; padding: 7px; border: none; background-color: rgb(229, 3, 3); color: white;"
                        >
                            Hủy đơn hàng
                        </button>
                        <button *ngIf="orderDetail?.status === 2" 
                            (click)="confirmReceived()"
                            style="border-radius: 16px 0px; padding: 7px; border: none; background-color: rgb(12, 89, 6); color: white;"
                        >
                            Đã nhận được hàng
                        </button>
                    </div>
                </div>
                <!-- <div class="order-buttons"></div> -->
            </div>
        </div>
    </div>
</div>