<div class="container">
    <div class="order-wrapper mt-40 order-detail">
        <div class="row">
            <div class="col-lg-auto">
                <div class="order-sidemenu block-border">
                    <div class="order-sidemenu__user">
                        <div class="order-sidemenu__user-avatar">
                            <img src="https://pubcdn.ivymoda.com/ivy2//images/v2/assets/user-avatar-placeholder.png" alt>
                        </div>
                        <div class="order-sidemenu__user-name">
                            <p>Phạm Quốc Việt</p>
                        </div>
                    </div>
                    <div class="order-sidemenu__menu">
                        <ul>
                            <li>
                                <a href="#!">
                                    <i class="bi bi-person"></i>&nbsp;Thông tin cá nhân
                                </a>
                            </li>
                            <li class="active">
                                <a href="#!">
                                    <i class="bi bi-arrow-repeat"></i>&nbsp;Quản lý đơn hàng
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="bi bi-heart"></i>&nbsp;Sản phẩm yêu thích
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-auto col-lg col-account-content">
                <div class="order-block__title">
                    <h2>
                        <span class="bi bi-chevron-left"></span>
                        CHI TIẾT ĐƠN HÀNG <b>MÃ SẢN PHẨM</b>
                    </h2>
                    <div class="order__status order--cancel">
                        <span class="bi bi-arrow-repeat" style="margin-right: 5px;"></span>
                        <span>Đã hủy đơn hàng</span>
                    </div>
                </div>
                <div class="order-block row">
                    <div class="col-xl">
                        <div class="order-block__products checkout-my-cart">
                            <table class="cart__tables">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="cart__product-item">
                                                <div class="cart__product-item__img">
                                                    <a href="javascript:void(0)">
                                                        <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/10/19/45e137da03b6f053cd18a2232ad4ad4d.jpg" alt>
                                                    </a>
                                                </div>
                                                <div class="cart__product-item__content">
                                                    <h3 class="cart__product-item__title">Đầm lụa phối bèo - xếp ly</h3>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Màu sắc: <span>Trắng</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Size: <span style="text-transform: uppercase;">m</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__properties">
                                                        <p>
                                                            Số lượng: <span>1</span>
                                                        </p>
                                                    </div>
                                                    <div class="cart__product-item__btn--save">
                                                        <button class="btn btn--outline btn--large repurchase-product">Mua lại</button>
                                                    </div>
                                                </div>
                                                <div class="cart__product-item__price">
                                                    1.490.000đ
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="col-xl-1"></div> -->
                    <div class="col-xl-4">
                        <div class="cart-summary">
                            <div class="cart-summary__overview">
                                <h3>Tóm tắt đơn hàng</h3>
                                <div class="cart-summary__overview__item">
                                    <p>Ngày tạo đơn</p>
                                    <p>
                                        <span class="price">03/04/2025</span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Tạm tính</p>
                                    <p>
                                        <span class="price">1.490.000 <sup>đ</sup></span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Phí vận chuyển</p>
                                    <p>
                                        <span class="price">0 <sup>đ</sup></span>
                                    </p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Tổng tiền</p>
                                    <p>
                                        <b>1.490.000 <sup>đ</sup></b>
                                    </p>
                                </div>
                            </div>
                            <div class="cart-summary__payment">
                                <h4>Hình thức thanh toán</h4>
                                <div class="cart-summary__overview__item">
                                    <p>Thanh toán bằng Momo</p>
                                    <div class="order_status">
                                        <span class="icon-ic_radio_active">
                                            <div class="path1"></div>
                                            <div class="path2"></div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-summary__address">
                                <h4>Địa chỉ</h4>
                                <div class="cart-summary__overview__item">
                                    <p>Tên khách</p>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Địa chỉ chi tiết ở đây</p>
                                    <br>
                                </div>
                                <div class="cart-summary__overview__item">
                                    <p>Điện thoại: 0123456789</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="order-buttons"></div> -->
            </div>
        </div>
    </div>
</div>