<!-- Banner -->
<div class="container">
<div class="slide-show">
  <div class="list-image" #slider>
    <img #image src="assets/images/banner1.webp" alt="" />
    <img src="assets/images/banner2.webp" alt="" />
    <img src="assets/images/banner3.webp" alt="" />
    <img src="assets/images/banner4.webp" alt="" />
  </div>

  <div class="btns">
    <div class="btn-left btn" (click)="handlePrev()">
      <i class="bi bi-arrow-left"></i>
    </div>
    <div class="btn-right btn" (click)="handleNext()">
      <i class="bi bi-arrow-right"></i>
    </div>
  </div>
</div>

<!-- Content -->
<div class="home-new-prod">
  <div class="title-section">SẢN PHẨM MỚI</div>
  <div class="exclusive-tabs">
    <div class="exclusive-head">
      <ul>
        <li class="exclusive-tab arrival-tab" [class.active]="activeTab === 'women'" (click)="showTab('women')">IAM Women</li>
        <!-- <li class="exclusive-tab arrival-tab" [class.active]="activeTab === 'men'" (click)="showTab('men')">IAM Men</li> -->
      </ul>
    </div>
    <div class="exclusive-content">
      <div class="exclusive-inner" id="tab-women" [class.active]="activeTab === 'women'" (click)="showTab('women')">
        <div class="list-products new-prod-slider owl-carousel owl-loaded" [class.owl-hidden]="activeTab !== 'women'">
          <div class="owl-stage-outer">
            <div class="owl-stage" #productSliderWomen style="display: flex; transition: transform 0.5s; width: 2760px;">
              <div class="owl-item active" style="width: 236px; margin-right: 30px;" *ngFor="let product of products; let i = index">
                <div class="item-new-prod">
                  <div class="product">
                    <div class="info-ticket ticket-news">NEW</div>
                    <div class="thumb-product">
                      <a [routerLink]="['/customer/detailProduct', product.id]">
                        <img class="owl-lazy" alt="test" style="opacity: 1;" [src]="product.image1">

                        <img alt="test" [src]="product.image2" class="hover-img owl-lazy" style="opacity: 1;">
                      </a>
                    </div>
                    <div class="info-product">
                      <div class="list-color">
                        <!-- <ul></ul> -->
                      </div>
                      <div class="name-product">
                        <h3 class="title-product">
                            <a [routerLink]="['/customer/detailProduct', product.id]">{{product.nameProduct}}</a>
                        </h3>
                        <!-- (click)="toggleFavorite(i)" -->
                        <div class="favourite" (click)="toggleFavourite(product)" *ngIf="role">
                            <i [ngClass]="product.isActive === 1 ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
                        </div>
                      </div>
                      <div class="price-product">
                        <ins>
                            <span>{{product.price | number}} đ</span>
                        </ins>
                      </div>
                    </div>
                    <div class="add-to-cart" (click)="toggleSizeList(i)">
                      <a [routerLink]="['/customer/detailProduct', product.id]">
                          <i class="bi bi-bag"></i>
                      </a>
                    </div>
                    <!-- <div class="list-size"  [ngClass]="{ 'open': isSizeListOpen === i}" *ngIf="isSizeListOpen === i">
                      <label>Màu sắc</label>
                      <div class="list-color" style="display: flex;">
                          <p *ngFor="let color of product.colors">{{ color }}</p>
                      </div>
                      <label>Kích cỡ</label>
                      <div class="size" style="display: flex;">
                          <p *ngFor="let size of product.sizes">{{ size }}</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
 
            </div>
          </div>
          <!-- <div class="owl-nav">
            <div class="owl-prev" [class.disabled]="currentIndex === 0" (click)="scrollPrev()">
              <i class="bi bi-arrow-left"></i>
            </div>
            <div class="owl-next" [class.disabled]="currentIndex + visibleCount >= totalItems" (click)="scrollNext()">
              <i class="bi bi-arrow-right"></i>
            </div>
          </div> -->
          <div class="owl-dots disabled"></div>
        </div>
        <div class="link-product">
          <a [routerLink]="['/category']" [queryParams]="{ categoryId: 0 }" class="all-product">Xem tất cả</a>
        </div>
      </div>
      
    </div> 
  </div>
</div>
</div>