.slide-show{
    width: 1352px;
    overflow: hidden;
    position: relative;
}
.list-image {
    height: 550px;
    display: flex;
    width: 1352px;
    transition: 0.5s;
     /* Những thuộc tính nằm ngoài phạm vi list-image thì bị ẩn */
}
.list-image img {
    border-radius: 80px 0px;
}

.btn {
    font-size: 30px;
    color: rgb(170, 167, 167);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    color: white
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.home-new-prod {
    margin-bottom: 40px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.home-new-prod .title-section, .home-promote .title-section {
    margin-bottom: 20px;
}

.title-section {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #221F20;
}

.exclusive-head ul {
    text-align: center;
    margin-bottom: 28px;
}

.exclusive-tab.active {
    color: #221F20;
    border-bottom: 2px solid #221F20;
}

.exclusive-tab {
    color: #6C6D70;
    font-size: 20px;
    line-height: 30px;
    margin-right: 56px;
    display: inline-block;
    cursor: pointer;
}

ul li {
    list-style: none;
}

/* CONTENT MODAL */
.exclusive-content {
    margin-bottom: 24px;
    position: relative;
    min-height: 100px;
}

.exclusive-inner.active, .system-inner.active {
    display: block;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.new-prod-slider .owl-stage-outer, .sale-prod-slider .owl-stage-outer, .list-viewed .owl-stage-outer, .list-related-products .owl-stage-outer {
    margin: 0 -7px;
    padding: 0 7px;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

element.style {
    transform: translate3d(0px, 0px, 0px);
    transition: all;
    width: 2760px;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    /* -moz-backface-visibility: hidden; */
}

/* element.style {
    width: 246px;
    margin-right: 30px;
} */

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.list-products .product {
    position: relative;
}

.ticket-news {
    background: url(../../assets/images/ticket-new-homepage.png) no-repeat center / cover;
    padding: 7px 18px 7px 15px;
    text-transform: uppercase;
}

.info-ticket {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    top: 0;
    left: -7px;
    z-index: 3;
}

.info-ticket.ticket-news:after {
    border-top: 17px solid #AC2F33;
}

.info-ticket:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #D73831;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
    z-index: -1;
}

.thumb-product {
    margin-bottom: 17px;
    position: relative;
}

a {
    text-decoration: none;
}

a, button, input {
    /* transition: all 0.3s ease-in-out 0s; */
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

a {
    color: #373737;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-carousel .owl-item .owl-lazy {
    /* opacity: 0; */
    transition: opacity .4s ease;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.thumb-product .hover-img, .e-magazine-new-item .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0; */
    visibility: hidden;
    /* transition: all 0.3s ease-in-out 0s; */
    /* -moz-transition: all 0.3s ease-in-out 0s; */
    /* -o-transition: all 0.3s ease-in-out 0s; */
    /* -webkit-transition: all 0.3s ease-in-out 0s; */
    /* -ms-transition: all 0.3s ease-in-out 0s; */
    height: 100%;
}

.thumb-product:hover .hover-img {
    visibility: visible;
}

img {
    border: none;
    max-width: 100%;
    /* height: auto; */
}

img {
    vertical-align: middle;
    /* border-style: none; */
}

.thumb-product a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    /* background: url(https://pubcdn.ivymoda.com/files/news/2022/12/31/31b91b1….png) 0 0 no-repeat; */
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

h3 {
    font-size: 20px;
}

.product .title-product a {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 32px;
    display: -webkit-box;
}

.title-product a {
    color: #57585A;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    /* display: block; */
    text-transform: capitalize;
}

.name-product {
    display: flex;
    justify-content: space-between;
}

.price-product ins {
    color: #3E3E3F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.list-size {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.3s ease-in-out 0s; */
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.add-to-cart a {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #221F20;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.list-size.open {
    opacity: 1;
    visibility: visible;
    bottom: 35px;
    background-color: #f5f6f8;
}

.list-size {
    margin-right: 2px;
    width: 80%;
    border-radius: 16px 0px;
}

.list-size label {
    padding: 10px 10px;
    font-weight: 600;
}

.list-size .list-color p {
    display: block;
    padding: 0px 10px;
    cursor: pointer;
}

.list-size .size p {
    display: block;
    padding: 0px 10px;
    cursor: pointer;
}

.link-product {
    margin-top: 24px;
}

.link-product {
    text-align: center;
}

.link-product .all-product {
    background: #FFFFFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    display: inline-block;
    position: relative;
}

.link-product .all-product:after {
    border: 1px solid #D1D2D4;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    position: absolute;
    content: "";
    bottom: 0;
    right: -5px;
    z-index: -1;
    width: 100%;
    height: 93%;
    /* transition: all 0.3s ease-in-out 0s; */
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.link-product .all-product:hover {
    background: #221F20;
    color: white;
    border: 1px solid #221F20;
}

.owl-carousel .owl-nav > div {
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 39px;
    color: #BCBDC0;
    margin-top: -65px;
    /* border-radius: 2px; */
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 40px;
    /* transition: all 0.3s ease-in-out 0s; */
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.owl-carousel .owl-nav > div.owl-next {
    left: auto;
    right: 39px;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    /* -webkit-user-select: none; */
    /* -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    /* user-select: none; */
}


/* IAM MEN */
.exclusive-inner, .system-inner {
    display: none;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

