.sign-home {
    text-align: center;
    border: 4px rgb(227, 226, 226) solid;
    border-radius: 16px 0px;
}

.icon i {
    font-size: 26px;
}

.icon .hotline {
    background-color: black; 
    color: white; 
    text-align: center; 
    border-radius: 16px 0px;
}

.icon h6 {
    padding: 10px;
}

.container{
    margin-top: 50px;
}

.container ul {
    list-style: none;
}

.container ul a {
    text-decoration: none;
    color: black
}